.project-show {
    h1 {
        
    }
    .row {
        padding: 1rem 0;
        .col {
            
            .card {
                border: none;
                width: 100%;
            }
        }
    }
}